
.black{
    color:black;
    font-family: inherit;
}

.white{
    color:#fafafa;
}

button{
    border:none;
    border-radius: 15px;
    width:120px;
    height: 50px;
    outline: none;
    color:#1b1b1b;
}